
    body {

        font-family: 'Roboto', sans-serif;
        color: #FFFFFF;
    }

    .header {
        margin: 0 auto;
        background: #88D498;

        height: 80px;
        padding: 0px 30px;
    }

    .header .header-wrapper {
        margin: 0 auto;
        max-width: 1200px;
    }

    .header .header-left {
       
        float: left;
        padding-top: 23px;
    }

    .header li a {
        display: inline-block;
        color: white;
        text-align: center;
        text-decoration: none;
    }


    .header .menu li {
        display: inline;
        padding-right: 20px;
    }

    .header .header-right {

        float: right;
        padding-top: 30px;

    }

    .hero {
        background-color: #04A777;
    }

    .hero-banner {
        margin: 0 auto;
        max-width: 440px;
    }

    .hero-banner h1 {
        padding-top: 177px;
        font-size: 64px;
        line-height: 81px;
    }

    .hero-banner-para {
        padding-top: 40px;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #FFFFFF;
    }

    .hero-banner-btn {

        padding-top: 90px;
        padding-bottom: 271px;
        text-align: center;
    }

    .btn {
        padding: 10px;
        max-width: 160px;
        width: 100%;
        font-size: 16px;
        font-weight: bold;
        line-height: 19px;
        border-radius: 5px;
        border: 2px solid #FFFFFF;
        color: #FFFFFF;
        background: transparent;
    }

    .app-showcase {
        overflow: hidden;
        padding-left: 70px;
    }

    .wrapper-app-showcase {
        max-width: 1165px;
        margin: 0 auto;
    }

    .app-showcase h3 {

        padding-bottom: 40px;
        padding-top: 43px;
        font-size: 30px;
        line-height: 46px;
        text-align: Left;
        color: #333333;
    }

    .app-showcase-left {

        max-width: 450px;
        float: left;

    }

    .app-showcase-left .para-faint {

        color: #999999;
        font: 20px;

    }

    .app-showcase-left .para-default {
        padding-top: 63px;
        color: #333333;
        font: 20px;
        line-height: 30px;
    }

    .app-showcase-btn-div {

        padding-top: 97px;
    }

    .btn-convert {
        background-color: #FF3654;
    }

    .app-showcase-right {
        float: right;
    }


    .three-col-container {
        background: #3654;
        overflow: hidden;
        padding-bottom: 59px;
    }

    .three-col-container .three-col-wrapper {

        overflow: hidden;
        padding-top: 30px;
        font-size: 20px;
        line-height: 23px;
        margin: 0 auto;
        width: 1200px;
    }

    .three-col-container .three-col-wrapper>div {
        float: left;
        width: 100%;
        max-width: 400px;
    }

    .three-col-container .three-col-wrapper>div>p {
        /* float: left;
        width: 100%;
        max-width: 400px; */
        padding-left: 12px;
    }

    .three-col-container .three-col-wrapper h4 {
        font-size: 36px;
        padding-bottom: 20px;
        padding-left: 11px;
    }

    .three-col-container .three-col-wrapper .btn-padding {

        /* text-align: right; */
        padding-top: 70px;
        /* display: block; */
        /* margin: 0 auto; */
    }


    .three-col-container .three-col-wrapper .btn-padding button {
        display: block;
        margin: 0 auto;

    }


    .grey-block {
        text-align: center;
    }

    .grey-block p {

        background-color: #2D2D2A;
        font-size: 40px;
        color: #FFFFFF;
        padding-top: 95px;
        padding-bottom: 95px;
    }

    .split {

        background-color: #04A777;
        padding-top: 100px;
        padding-bottom: 70px;
        overflow: hidden;
        /* width: 100%; */
    }


    .split-wrapper {

        max-width: 1165px;
        margin: 0 auto;
    }

    .split .split-left {

        float: left;
        max-width: 500px;
    }

    .split .split-right {
        float: right;
        max-width: 50%;
        max-width: 500px;
    }

    .split .split-left h4 {

        font-size: 36px;
        line-height: 46px;
    }

    .split .split-right h4 {

        font-size: 36px;
        line-height: 46px;
    }

    .split .split-left p {

        font-size: 20px;
        line-height: 23px;
        padding-top: 30px;
        /* width: 70%; */
    }

    .split .split-right p {
        font-size: 20px;
        line-height: 23px;
        padding-top: 30px;
    }

    .split .split-wrapper .btn-padding {

        padding-top: 70px;
    }

    .split .split-wrapper .btn-padding button {

        display: block;
        margin: 0 auto;
    }

    .btn-green {
        background-color: #04A777;
    }

    .btn-padding-right {
        padding-right: 20px;

    }

    .footer {
        color: #333333;
        padding-top: 70px;
        /* padding: 135px; */
        padding-bottom: 70px;
        line-height: 30px;
        overflow: hidden;
    }


    .footer .footer-wrapper {
        max-width: 1165px;
        margin: 0 auto;

    }

    /* .footer .footer-left {
        float: left;
        max-width: 303px
    }

    .footer .footer-right {

        float: right;
        padding-left: 12px;
        width: 500px;
    } */

    .footer .footer-left h5 {
        font-size: 20px;
        padding-bottom: 20px;
    }

    .footer .footer-right .footer-col-1 {

        width: 60px;
        /* float: left; */
    }

    .footer .footer-right .footer-col-2 {

        width: 60px;
        padding-left: 100px;
    }

    .footer .footer-right .footer-col-3 {

        width: 60px;
        padding-left: 100px;
    }

    .footer .footer-right div {

        display: inline-block;
    }

    .footer .footer-right li a {
        color: #333333;
    }
